/* Global Styles */

:root {
    --primary-color: #047aed;
}

body {
    color: #333;
    font-family: 'Lato', sans-serif;
    line-height:1.6;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

/* Utilities */

.container {
    padding: 0 40px;
    margin: 0 auto;
    overflow: auto;
    max-width: 1100px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar Styles */

.navbar {
    background-color: var(--primary-color);
    color: white;

}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 0 5px;
}
